.Large{
    margin: 25px auto;
	width: 700px;
	overflow: auto;
}

.Large img{
    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	float: left;
	height: 330px;
	width:auto
}

.Details {
    border-bottom: 1px solid #ddd;
	float: right;
	text-align: left;
	width: 250px;
}

.Details p{
    border-top: 1px solid #ddd;
	font-size: 12px;
	margin: 0;
	padding: 7px 0;
}

.Details strong{
	background:#eee;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 5px;
	text-transform: uppercase;
}

.Download {
	background-color:none;
	border:1px solid #37474F;
	padding:10px;
	color:#000;
	font-weight: bold;
}

.Download:hover{
	cursor:pointer;
	color:#fff;
	background-color:#37474F;
}

.Disabled {
	opacity: .2 !important;
}