.Previous {
    background: url(../../../assets/images/previous.png) no-repeat 0 0;
	left: 10px;
	cursor: pointer;
}

.Next {
    background: url(../../../assets//images/next.png) no-repeat 0 0;
	right: 10px;
	cursor: pointer;

}

.Previous:hover, .Next:hover {
	opacity: .6;
}

.Previous:active, .Next:active {
	opacity: 1;
}

.Disabled {
	opacity: .2 !important;
}
