.Thumbnail button {
	color: #777;
	float: left;
	margin: 0 5px;
	position: relative;
	text-align: center;
	border:none;
	padding:0px;
}

.Thumbnail img {
	border: 5px solid transparent;
	display: block;
	/* margin: 0 0 5px; */
	max-width: 140px;
	height:140px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.Thumbnail button:hover img {
	border-color: #eee;
	cursor: pointer;
}

.Thumbnail button:active img {
	border-color: #aaa;
}

.Thumbnail .active img,
.Thumbnail .active:hover img  {
	border-color: #a41d0f;
}

.Thumbnail button span {
	background: #eee;
	-moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px;
	font-weight: bold;
	font-size: 12px;
	margin: 5px auto 0 auto;
	padding: 2px 15px;
}

.Thumbnail button:hover span {
	background: #ddd;
}

.Thumbnail button:active span {
	background: #aaa;
	color: #fff;
}

.Thumbnail button.active span {
	background: #a41d0f;
	color: #fff;
}