.TemplateViewer{
    background:#2196F3;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	margin: 0 auto;
	padding: 25px;
	min-height: 300px;
	width: 860px;
	color:#fff;
}

header {
	border-bottom: 1px solid #ddd;
	font-family: 'Times New Roman', Times, serif;
	font-size: 40px;
	padding: 0 0 7px;
	font-weight: bold;
}

footer {
	font-size: 12px;
	padding: 25px 0 0 0;
}